@media screen and (max-width:1420px) {
    .img-client-1
    {
        width: 364px;
    }
    .img-client-2
    {
        width: 364px;
    }
    .img-client-3
    {
        width: 364px;
    }
    .img-client-4
    {
        width: 364px;
    }
    .img-client-5
    {
        width: 364px;
    }
    .img-client-6
    {
        width: 364px;
    }
    @media screen and (max-width:1180px) {

        .group-burger-profile {
            display: flex;
            align-items: center;
            gap: 45px;
            z-index: 2;
          }
          .burger-menu {
            display: block;
            display: flex;
            flex-direction: column;
            gap: 3px;
            z-index: 2;
            position: relative;
          }
          .line-burger {
            width: 38px;
            height: 2px;
            background: #000;
          }
        header
        {
          overflow: hidden;
        }
        
          .navigation {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: -100%;
            left: auto;
            bottom: 0;
            width: 320px;
            height: 485px;
            background-color: #e2d7d7;
            z-index: 2;
            animation: burgerAnimation 0.5s ease-in-out;
            transition-duration: .75s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
        .line-burger-section
        {
          width: 222px;
          height: 2px;
          background: #000;
        }
        .buttons-burger
        {
          display: flex;
          align-items: center;
          gap: 22px;
        }
        .navigation.dark-theme
        {
          background-color: #5c5555;
        }
        .navigation a {
          color: #0c0c0c;
        }
          .open-overlay
          {
            visibility: visible !important;
          }
          .open {
            visibility: visible !important;
            right: 0 !important;
            left: auto !important;
        }
          .overlay
          {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
          }
          @keyframes burgerAnimation {
            from {opacity: 0;}
            to {opacity: 1;}
          }
          .navigation ul {
            flex-direction: column;
            gap: 10px;
        }
          .burger-menu.active span:nth-child(2) {
            transform: scale(0);
            transition: transform 0.3s ease;
          }
          .burger-menu.active span:nth-child(1) {
            transform: rotate(-45deg) translate(-27%, 50%);
            transition: transform 0.3s ease;
          }
          .burger-menu.active span:nth-child(3) {
            transform: rotate(45deg) translate(-19%, 50%);
            transition: transform 0.3s ease;
          }
          .container-cleints
          {
            gap: 55px;
          }
          .client-1
          {
            gap: 20px;
            align-items: center;
            }  
            .container-img-clients
            {
                padding-left: 10px;
            } 
          }
          .title-client-description h2
          {
            font-size: 25px;
          }
          .info-clients h3
          {
            font-size: 20px;
          }
          .income br
          {
            display: none;
          }
          .location-dnepr
          {
            height: 108px;
          }
          .local-other
          {
            height: 81px;
          }
          .local-other br
          {
            display: block;
          }
          .info-height-347
          {
            height: 347px;
          }
          .info-height-368
          {
            height: 368px;
          }
          .container-cleints
          {
            padding-bottom: 152px;
          }
          .info-client
          {
            gap: 15px;
          }
          @media screen and (max-width:767px) {
            .buttons
            {
                display: none;
            }
            .footer-container-admin h2 
            {
              font-size: 32px;
            }
            .img-profile
            {
                display: none;
            }
            .img-profile-burger {
                display: block;
                margin-right: 20px;
                width: 48px;
                height: 48px;
                background-image: url(../images/icon_profile_black.svg);
              }
            .group-burger-profile
            {
                margin-right: 19px;
            }
            .img-logo
            {
                margin-left: 20px;
            }
            .container-cleints
            {
                padding-top: 150px;
                gap: 48px;
                padding-bottom: 162px;
            }
            .client-1
            {
                flex-direction: column;
            }
            .container-img-clients {
                padding-left: 0px;
            }
            .info-clients {
                width: 94%;
            }
            .title-client-description {
                width: 100%;
            }
            .info-client
            {
                margin-top: 65px;
            }
            .title-container-cleints h2
            {
                font-size: 46px;
            }
            .img-client-1
            {
                width: 300px;
            }
            .img-client-2
            {
                width: 300px;
            }
            .img-client-3
            {
                width: 300px;
            }
            .img-client-4
            {
                width: 300px;
            }
            .img-client-5
            {
                width: 300px;
            }
            .img-client-6
            {
                width: 300px;
            }
            .application-container
            {
                width: 90%;
            }
            .application
            {
                width: 100%;
            }
            .form-group input[type="text"]
            {
                width: 91%;
            }
            .after-application
            {
                flex-direction: column;
                width: 88%;
            }
            .container-social-footer
            {
                justify-content: normal;
            }
            .img-application
            {
                display: none;
            }
            .height-477
            {
                height: 477px;
            }
            .height-450
            {
                height: 450px;
            }
            .info-height-347
            {
                height: 450px; 
            }
            .info-height-368
            {
                height: 450px; 
            }
            .background-footer
            {
                height: 749px;
            }
            .form-group input[type="text"],.form-group input[type="tel"]
            {
                width: 97%;
            }
            .footer-container
            {
                gap: 145px; 
            }
            @media screen and (max-width:511px) {
              .footer-container-admin h2 
              {
                font-size: 22px;
              }
            }
          }
    }
