.registration
{
    align-items: center;
    justify-content: center;
    width: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
}
.header-container
{
    position: relative;
    height: 1405px;
    filter: brightness(0.9);
}
.form-registration
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-registration input
{
    width: 280px;
    border-radius: 10px;
    border: 3.5px solid #000; /* Задайте цвет границы здесь */
}
#middlename
{
    border: 1px solid rgb(162, 143, 143);
}
#agreement
{
    width: 20px;
}
#submit
{
    height: 39px;
    background: burlywood;
}
#generate-nick, #generate-password
{
    width: 74px;
    background: burlywood;
    border:none;
}
.custom-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-input .input-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
  
  .custom-input .input-icon img {
    display: block;
    width: 20px;
    height: 20px;
  }
  .custom-input .input-icon2 {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
  
  .custom-input .input-icon2 img {
    display: block;
    width: 20px;
    height: 20px;
  }
  input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}