@media screen and (max-width: 1919px) {
  .text-slider {
    width: 100%;
  }
}
@media screen and (max-width: 1408px) {
  .container-services {
    width: 94.45%;
  }
}
@media screen and (max-width: 1280px) {
  .container-green-tariff {
    width: 84.5%;
  }
  .green-tariff {
    height: 1492px;
  }
  .container-green-tariff {
    gap: 135px;
    margin-left: 0px;
  }
  .container-description-green {
    width: 581px;
    gap: 40px;
  }
  .tab {
    gap: 111.5px;
  }
  .slider-tariff {
    gap: 19px;
  }
  .img-slider-tarrif {
    height: 118px;
    width: 281px;
  }
  .pignation-slider {
    gap: 22px;
  }
}
@media screen and (max-width: 1279px) {
  .text-right-green {
    width: 83%;
  }
}

@media screen and (max-width: 1187px) {
  .container-services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .clients {
    height: 642px;
  }
  .container-clients {
    height: 529px;
    gap: 20px;
    margin-top: 0px;
    width: 87%;
  }
  .container-cleints-pignation {
    margin-top: 39px;
  }
  .slider {
    height: 481px;
    gap: 30px;
  }
  .title-steps br {
    display: none;
  }
  .container-step {
    gap: 80px;
  }
  .container-cleints-pignation {
    height: 481px;
  }
  .info-client {
    margin-top: 56px;
  }
  .consultation-black {
    margin-top: 41px;
  }
  .text-1 {
    width: auto;
    gap: 21px;
  }
  .container-services {
    gap: 36px;
  }
  .services {
    height: 1380px;
  }
  .container-description {
    width: 590px;
  }

  .img-clients {
    width: 319px;
    height: 347px;
  }
  .consultation-btn::after {
    padding: 40px 0 0 19px;
  }
  .group-burger-profile {
    display: flex;
    align-items: center;
    gap: 45px;
    z-index: 2;
  }
  .burger-menu {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 2;
    position: relative;
  }
  .line-burger {
    width: 38px;
    height: 2px;
    background: #000;
  }
header
{
  overflow: hidden;
}

  .navigation {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: -100%;
    left: auto;
    bottom: 0;
    width: 320px;
    height: 508px;
    background-color: #e2d7d7;
    z-index: 2;
    animation: burgerAnimation 0.5s ease-in-out;
    transition-duration: .75s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.line-burger-section
{
  width: 222px;
  height: 2px;
  background: #000;
}
.buttons-burger
{
  display: flex;
  align-items: center;
  gap: 22px;
}
.navigation.dark-theme
{
  background-color: #5c5555;
}
.navigation a {
  color: #0c0c0c;
}
  .open-overlay
  {
    visibility: visible !important;
  }
  .open {
    visibility: visible !important;
    right: 0 !important;
    left: auto !important;
}
  .overlay
  {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  @keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .navigation ul {
    flex-direction: column;
    gap: 10px;
}
  .burger-menu.active span:nth-child(2) {
    transform: scale(0);
    transition: transform 0.3s ease;
  }
  .burger-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-27%, 50%);
    transition: transform 0.3s ease;
  }
  .burger-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-19%, 50%);
    transition: transform 0.3s ease;
  }
  .text-1-steps {
    width: 99%;
  }
  .left-steps {
    width: 603px;
    gap: 68px;
  }
  .five-steps {
    height: fit-content;
  }
  .container-contacts-info {
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    gap: 100px;
  }
  .container-section-contacts {
    gap: 106px;
  }
  .contacts-info {
    width: 650px;
  }
  .contacts {
    height: 930px;
  }
  .consultation-footer h2 {
    font-size: 13px;
  }
  .application-container {
    gap: 84px;
  }
  .front-welcome {
    top: 51%;
  }
  .Text-header h1 {
    font-size: 73px;
  }
  @media screen and (max-width: 700px) {
    .container-description {
      width: 310px;
    }

    .img-services {
      width: 300px;
      height: 299px;
    }

    .buttons {
      display: none;
    }
    .img-profile {
      display: none;
    }
    .img-profile-burger {
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../images/icon_profile.svg);
    }
    .group-burger-profile {
      margin-right: 19px;
    }
    .img-logo {
      margin-left: 20px;
    }
    .Text-header h2 {
      width: auto;
    }
    .form-group input[type="text"],
    .form-group input[type="tel"] {
      width: 300px;
    }
    .green-tariff {
      height: 1494px;
    }
    .container-green-tariff {
      gap: 30px;
      margin-left: 0px;
    }
    .container-description-green {
      width: auto;
      gap: 14px;
    }
    .tab {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
    .img-slider-tarrif {
      height: 118px;
      width: 139px;
    }
    .text-right-green {
      max-width: none;
      min-width: 294px;
    }
    .img-green-tarif {
      height: 264px;
      width: 299px;
    }
    .text-right-green {
      font-size: 16px;
    }
    .rigth-green
    {
      justify-content: center;
    align-items: center;
    }
    .text-slider {
      width: 103%;
    }

    .left-steps {
      width: 260px;
    }
    .img-steps {
      width: 350px;
      height: 256px;
    }
    .contacts-info {
      width: 96%;
    }
    .map {
      width: 500px;
      height: 285px;
    }
    .application-container {
      width: 90%;
    }
    .application {
      width: 100%;
    }
    .form-group input[type="text"] {
      width: 91%;
    }
    .after-application {
      flex-direction: column;
      width: 88%;
    }
    .container-social-footer {
      justify-content: normal;
    }
    .img-application {
      display: none;
    }
    .background-footer {
      height: 749px;
    }
    .form-group input[type="text"],
    .form-group input[type="tel"] {
      width: 97%;
    }
    .footer-container {
      gap: 145px;
    }
    .no-margin {
      margin-left: 0px;
    }
    .container-cleints {
      height: 968px;
    }

    .clients {
      height: 1079px;
    }
    .slider {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .pagination {
      width: 206px;
  }
    .title-client {
      width: 310px;
    }
    .info-clients {
      width: 380px;
    }
    .container-cleints-pignation {
      margin-top: 40px;
      height: 403px;
    }
    .container-clients {
      height: 965px;
  }
    .quote {
      height: 328px;
    }
    .container-step {
      gap: 101px;
  } 
  .contacts {
    height: 897px;
}
.container-section-contacts {
  gap: 134px;
}
.container-contacts-info
{
  gap: 16px;
}
  }
  @media screen and (max-width:673px) {
    .text-quote h2 {
      font-size: 21px;
    }
    .footer-container-admin h2 
    {
      font-size: 32px;
    }

  }
  @media screen and (max-width:611px) {
    .front-welcome {
      top: 41%;
      width: 97%;
    }
    .Text-header h3 {
      font-size: 15px;
    }
    .Text-header h1 {
      font-size: 39px;
    }
    .Text-header h2 {
      font-size: 39px;
    }
    .img-steps {
      width: 300px;
    }
  }
  @media screen and (max-width:511px) {
    .map {
      width: 310px;

    }
    .footer-container-admin h2 
    {
      font-size: 22px;
    }
    .pagination {
      width: 130px;
  }

.pangination button
{
  width: 53px;
}
  }
  @media screen and (max-width: 352px) {
    #text-slider {
      width: 8%;
  }
  }
}

